<p>
  <b>页面名称:</b>
  <%= @position.name %>
</p>

<p>
  <b>上级名称:</b>
  <%= @position.upid %>
</p>

<p>
  <b>描述:</b>
  <%= @position.description %>
</p>

<p>
  <b>创建日期:</b>
  <%= @position.created_at %>
</p>

<p>
  <b>修改日期:</b>
  <%= @position.updated_at %>
</p>

<%= link_to '返回', editor_positions_path %>
