<h1>谷歌数据列表</h1>
<style>
    tr td{text-align:center;}
</style>
<h3><%= link_to '返回', traffic_main_index_path %></h3>
<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;" width="100%">
  <tr>
    <th>日期</th>
    <th>访问量</th>
    <th>自然搜索</th>
    <th>付费搜索</th>
    <th>直接搜索</th>
    <th>引荐访问</th>
    <th>其它</th>
    <th>产品访问</th>
    <th>乐语(qq)</th>
  </tr>

<% @google_analytics.each do |google_analytic| %>
  <tr>
    <td><%= google_analytic.current_date %></td>
    <td><%= google_analytic.visits %></td>
    <td><%= google_analytic.organic %></td>
    <td><%= google_analytic.paid %></td>
    <td><%= google_analytic.direct %></td>
    <td><%= google_analytic.referral %></td>
    <td><%= google_analytic.visits %></td>
    <td><%= google_analytic.visit_product %></td>
    <td><%= google_analytic.click %></td>
  </tr>
<% end %>
</table>

<%=h will_paginate @google_analytics, :previous_label => '上一页',  :next_label => '下一页'%>
