<h1>全组所有任务列表</h1>
<p style="color:red;"><%= notice %></p>
<style>
  #line {height:50px;}
</style>
<table border='1' cellspacing='0' width='100%' style="text-align:center;">
  <tr>
    <th width='8%'>姓名</th>
    <th width='15%'>开始时间</th>
    <th width='15%'>结束时间</th>
    <th width='22%'>任务名称：</th>
    <th width='25%'>内容：</th>
    <th width='5%'>进度</th>
    <th colspan＝2 width='12%'>操作</th>
  </tr>

<% @daily_tasks.each do |daily_task| %>
  <tr>
    <td><%= daily_task.user.username%></td>
    <td><%= daily_task.plan_start_timeline.strftime('%Y-%m-%d %H:%M')%></td>
    <td><%= daily_task.plan_finish_timeline.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= link_to daily_task.title, [:task, daily_task]%></td>
    <td style="text-align:left;" id='line'><%= daily_task.content %></td>
    <td><%= daily_task.accomplishment %>%</td>
    <td><%= link_to '编辑', edit_task_daily_task_path(daily_task) %>|<%= link_to '删除', [:task,daily_task], method: :delete, data: { confirm: '确定删除?' } %></td>
  </tr>
<% end %>
</table>

<%=h will_paginate @daily_tasks, :previous_label => '上一页',  :next_label => '下一页'%>