<h1>日常任务列表</h1>
<p style="color:red;"><%= notice %></p>
<%= link_to '新建任务', new_task_daily_task_path %>
<table border='1' cellspacing='0' width='100%' style="text-align:center;">
  <tr>
    <th width='10%'>姓名</th>
    <th width='15%'>开始时间</th>
    <th width='15%'>结束时间</th>
    <th width='12%'>任务名称：</th>
    <th width='30%'>内容：</th>
    <th width='6%'>完成度</th>
    <th colspan＝2 width='12%'>操作</th>
  </tr>

<% @daily_tasks.each do |daily_task| %>
  <tr>
    <td><%= daily_task.user.username%></td>
    <td><%= daily_task.plan_start_timeline.strftime('%Y-%m-%d %H:%M')%></td>
    <td><%= daily_task.plan_finish_timeline.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= link_to daily_task.title, [:task, daily_task]%></td>
    <td style="text-align:left;"><%= daily_task.content %></td>
    <td><%= daily_task.accomplishment %>%</td>
    <td><%= link_to '编辑', edit_task_daily_task_path(daily_task) %>|<%= link_to '删除', [:task,daily_task], method: :delete, data: { confirm: '确定删除?' } %></td>
  </tr>
<% end %>
</table>
