<script type="text/javascript">
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker" ).val("<%= @time %>");
  });
</script>
<h1>引荐流量来源</h1>
<%= link_to '返回', traffic_main_index_path %>

<%= form_tag(traffic_main_referral_traffic_path, :method => :get) do %>
  <p>
    日期: <input type="text" id="datepicker" name="start_date">
    <%= submit_tag("查询") %>
  </p>
<% end %>

<div style="margin-bottom:15px;">
	<div style="display:inline;padding-right:5px;">访问次数：<%= @count_traffics.sum("clicks")%></div>
	<div style="display:inline;padding-right:5px;">产品浏览量：<%= @count_traffics.sum("goal1")%></div>
	<div style="display:inline;padding-right:5px;">乐语点击量：<%= @count_traffics.sum("goal3")%></div>
	<div style="display:inline;padding-right:5px;">目标1平均转化率：
		<% if @count_traffics.average("conversion1_rate")%>
		<%= format("%0.2f", @count_traffics.average("conversion1_rate")) %>
		<% else%>
		0
		<% end %>
	%</div>
	<div style="display:inline;padding-right:5px;">目标3平均转化率：
		<% if @count_traffics.average("conversion3_rate")%>
		<%= format("%0.2f", @count_traffics.average("conversion3_rate"))%>
		<% else%>
		0
		<% end %>
	%</div>
</div>
<table border='1'>
	<tr>
		<td>日期</td>
		<td>来源名称</td>
		<td>点击次数</td>
		<td>产品浏览</td>
		<td>转化率1</td>
		<td>乐语点击</td>
		<td>转化率2</td>
	</tr>
	<% @triffs.each do |t|%>
	<tr>
		<td><%= t.current_date%></td>
		<td><%= t.source_name %></td>
		<td><%= t.clicks%></td>
		<td><%= t.goal1 %></td>
		<td>
			<% if t.goal1 == 0 || t.conversion1_rate == '0.0'%>
			0
			<% else %>
			<%= t.conversion1_rate %>
			<% end %>
		</td>
		<td><%= t.goal3 %></td>
		<td>
			<% if t.goal3 == 0 || t.conversion3_rate == '0.0'%>
			0
			<% else %>
			<%= t.conversion3_rate%>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
