<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker1" ).datepicker();
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker" ).val("<%= @time%>");
    $( "#datepicker1" ).val("<%= @time1%>");
    $("form").submit(function(e){
      if($( "#datepicker" ).val() == ""){
          alert("开始时间!");
          $( "#datepicker" ).focus();
          return false;
      }
      if($( "#datepicker1" ).val() == ""){
          alert("结束时间!");
          $( "#datepicker1" ).focus();
          return false;
       }
      if($( "#datepicker" ).val() > $( "#datepicker1" ).val()){
          alert("结束时间不能比开始时间早，请重新选择!");
          $( "#datepicker1" ).focus();
          return false;
       }
    });

  });
</script>
<style type="text/css">
  td{ text-align:center; line-height:24px; bordercolor:"blue"}
</style>
<h1>根据时间段查询广告位点击次数</h1>
<h5><%= link_to '页面视图查询', traffic_main_search1_path%></h5>

<%= form_tag(traffic_main_search_path, :method => :get) do %>
  <p>
    开始日期: <input type="text" id="datepicker" name="start_date">
    结束日期: <input type="text" id="datepicker1" name="end_date">
  </p>
    <%= submit_tag("查询") %>
  </p>
<% end %>



<h4>昨日点击量共:<%= @click_count %>次</h4>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="25%"><%= link_to "位置", sum_campaign_traffic_clicks_path %></td>
    <td width="25%"><%= link_to "页面", sum_position_traffic_clicks_path %></td>
    <td width="30%"><%= link_to "活动", sum_page_traffic_clicks_path%></td>
    <td width="10%">点击</td>
    <td width="10%">总计</td>
  </tr>
  <% @clicks.each do |click| %>
  <tr>
    <td>
        <% if !click.position.nil? %>
            <%= Position.find(click.position).name %>
        <% end %>
    </td>
    <td colspan="3" width="65%" border='1'>
            <table border="1" cellpadding="0" cellspacing="0" width="100%;">
                <% @pos.where("position = #{click.position}").group('page').select("*, sum(clicks) as total_page_clicks").order("total_page_clicks DESC").each do |pos|%>
                <tr>
                    <td width='38.46%'>
                        <% if !pos.page.nil? %>
                            <%= WebPage.find(pos.page).content %>
                        <% end %>
                    </td>
                    
                    <td width="46%">
                        <table width="100%" border=1 cellpadding="0" cellspacing="0">
                            <% @pos.where("position = #{click.position} and page=#{pos.page}").group('campaign').select("campaign, sum(clicks) as total_camp_clicks").order("total_camp_clicks DESC").each do |camp|%>
                            <tr>
                                <td width="80%">
                                    <% if !pos.campaign.nil? %>
                                        <%= Campaign.find(camp.campaign).name %>
                                    <% end %>
                                </td>
                                <td width="20%">
                                    <%= camp.total_camp_clicks%>
                                </td>
                            </tr>
                            <% end %>
                        </table>
                        
                    </td>

                    <td width="15%"><%= pos.total_page_clicks %></td>
                </tr>
                <% end %>
            </table>

        </td>
        <td width="10%"><%= click.total_clicks %></td>
    </tr>
    <% end %>
</table>