<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker1" ).datepicker();
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker" ).val("<%= @time%>");
    $( "#datepicker1" ).val("<%= @time1%>");
    $("form").submit(function(e){
      if($( "#datepicker" ).val() == ""){
          alert("开始时间!");
          $( "#datepicker" ).focus();
          return false;
      }
      if($( "#datepicker1" ).val() == ""){
          alert("结束时间!");
          $( "#datepicker1" ).focus();
          return false;
       }
      if($( "#datepicker" ).val() > $( "#datepicker1" ).val()){
          alert("结束时间不能比开始时间早，请重新选择!");
          $( "#datepicker1" ).focus();
          return false;
       }
    });

  });
</script>
<style type="text/css">
  td{ text-align:center; line-height:24px; bordercolor:"blue"}
</style>
<h1>点击量分类列表</h1>
<h4>根据条件查询</h4>
<%= form_tag(traffic_main_search_path, :method => :get) do %>
  <p>
    开始日期: <input type="text" id="datepicker" name="start_date"> 
    结束日期: <input type="text" id="datepicker1" name="end_date"> 
  </p>
    <%= submit_tag("查询") %>
  </p>
<% end %>




<h4>共:<%= @click_count %>次</h4>
<table cellpadding="0" cellspacing="0" width="100%" border=1>
  <tr>
    <td width="30%"><%= "页面"%></td>
    <td width="50%"><%= "位置"%></td>
    <td width="20%">点击</td>
  </tr>
  <% @clicks.each do |click| %>
  <tr>
    <td>
      <% if click.page.nil? %>
        <%= "页面" %>
      <%else%>
        <%= WebPage.find(click.page).content %>
      <% end %>     
    </td>
    <td colspan="2" width="60%">
        <table cellpadding="0" cellspacing="0" width="100%" border="1">
            <% @pages.where("page = #{click.page}").select(" *, sum(clicks) as total_clicks").group('position').order("total_clicks DESC").each do |page|%>
            <tr>
                <td width='71%'>
                    <% if page.position.nil? %>
                        <%= "位置"%>
                    <%else%>
                        <%= Position.find(page.position).name %>
                    <% end %>
                </td>
                <td width="28%"><%= page.total_clicks %></td>
            </tr>
            <% end %>
        </table>
    </td>
  <% end %>
</table>