<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker1" ).datepicker();
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker" ).val("<%= @time%>");
    $( "#datepicker1" ).val("<%= @time1%>");
    $("form").submit(function(e){
      if($( "#datepicker" ).val() == ""){
          alert("开始时间!");
          $( "#datepicker" ).focus();
          return false;
      }
      if($( "#datepicker1" ).val() == ""){
          alert("结束时间!");
          $( "#datepicker1" ).focus();
          return false;
       }
      if($( "#datepicker" ).val() > $( "#datepicker1" ).val()){
          alert("结束时间不能比开始时间早，请重新选择!");
          $( "#datepicker1" ).focus();
          return false;
       }
    });

  });
</script>
<style type="text/css">
  td{ text-align:center; line-height:24px; bordercolor:"blue"}
</style>
<h1>根据时间段查询广告位点击次数</h1>
<h4>根据条件查询</h4>
<%= form_tag(traffic_main_search_path, :method => :get) do %>
  <p>
    开始日期: <input type="text" id="datepicker" name="start_date">
    结束日期: <input type="text" id="datepicker1" name="end_date">
  </p>
    <%= submit_tag("查询") %>
  </p>
<% end %>


<h4>共:<%= @click_count %>次</h4>
<table cellpadding="0" cellspacing="0" width="100%" border=1>
  <tr>
    <td width="50%"><%= "位置"%></td>
    <td width="20%">点击</td>
  </tr>
  <% @clicks.each do |click| %>
  <tr>
    <td>
        <% if click.position.nil? %>
            <%= "位置"%>
        <%else%>
            <%= Position.find(click.position).name %>
        <% end %>
    </td>

    <td><%= format("%2f", click.total_clicks) %></td>

    </tr>
  <% end %>
</table>