<style type="text/css">
    table { text-align: center; font-size: 8px;}
</style>
<a href="<%= new_admin_user_path %>" class="button">
  <span>新建用户</span>
</a>

<h2><span>用户管理</span></h2>

<table border='1' bordercoler="blue" cellspacing='0' cellpadding='0'>
  <thead>
        <tr>
            <th style="width:2%">ID</th>
            <th style="width:15%">姓名</th>
            <th style="width:15%">邮箱</th>
            <th style="width:5%">验证</th>
            <th style="width:12%">创建日期</th>
            <th style="width:12%">最后更新</th>
            <th style="width:12%">最后登录</th>
            <th style="width:17%">操作</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td class="align-center"><%= user.id %></td>
            <td><a href=""><%= link_to user.username, [:admin, user] %></a></td>
            <td><%= link_to user.email, [:admin, user] %></td>
            <td><%= user.confirmed? ? '已验证' : '未验证' %></td>
            <td><%= user.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= user.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= user.last_sign_in_at.nil? ? '从未登录' : user.last_sign_in_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td>
              <%= link_to "编辑", edit_admin_user_path(user) %> |
              <%= link_to "角色分配", roles_admin_user_path(user) %> |
              <%= link_to "删除", admin_user_path(user), :method => :delete, :confirm => "你确定要删除此用户?" %> | 
                <% if user.access_locked? %>
                    <%= link_to "解锁", unlock_admin_user_path(user), :method => :post,
                    :confirm => "你确定要解锁此用户?" %>
                <% else %>
                    <%= link_to "锁定", lock_admin_user_path(user), :method => :post,
                    :confirm => "你确定要锁定用户?" %>
                <% end %>
            </td>
        </tr> 
        <% end %>                             
    </tbody>
</table>

<div class="apple_pagination">
    <%=h will_paginate @users, :previous_label => '上一页',  :next_label => '下一页'%>
</div>

