<a href="<%= admin_users_path %>" class="button">
  <span>返回</span>
</a>

<div class="module">
       <h2><span>给用户 <%= @user.username %> 分配角色</span></h2>
          
       <div class="module-body">
          <%= form_tag(assign_roles_admin_user_path, :method => "post") do %>
<p>角色:</p>
<table border='1'>
  <% @roles_all.each do |role| %>	
    <tr>
  	 <td><%= check_box_tag('role_ids[]', role.id, @roles.include?(role), :style => "float:left;vertical-align: middle;margin-right: 6px;") %>
      </td>
     <td><%= label :role_id, role.name %></td>
   </tr>
  <% end %>
</table>
<%= submit_tag '保存'%>
<% end %>