			<div class="grid_12">
            	<div class="bottom-spacing">
                
                    
                    <div class="float-left">
                        <a href="<%= admin_users_path %>" class="button">
                          <span>返回</span>
                        </a>
                    </div>

                    <div class="float-left">
                        <a href="<%= edit_admin_user_path(@user) %>" class="button">
                          <span>编辑</span>
                        </a>
                    </div>

                    <div class="float-left">
                        <%= link_to admin_user_path(@user), :method => :delete,
:confirm => "你确定要删除此用户?" , :class => 'button' do %>
						<span>删除用户</span>
						<% end %>
                    </div>
                    
                    
                    
                </div>
            </div>

			<div class="grid_5">

                <div class="module">
                     <h2><span>查看用户 <%= @user.username %></span></h2>
                        
                     <div class="module-body">
                        <p>
							<div>姓名:<%= @user.username %></div>
						</p>
						<p>
							<div>邮箱:<%= @user.email %></div>
						</p>
						<p>
							<div>角色:
								<% @user.roles.each do |role| %>
								<%= role.rolename %>
								<% end %>

							</div>
						</p>
                        
                     </div> <!-- End .module-body -->
                </div> <!-- End .module -->
                <div style="clear:both;"></div>
            </div> <!-- End .grid_6 -->
            <div style="clear:both;"></div>

