<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>小马网络部</title>
      <!-- JQuery engine script-->
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/jquery_1.7.1.min.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery_ujs.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/jquery.ui.datepicker-zh-CN.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/jquery.relatedselects.min.js"></script>
    <script type="text/javascript" src="<%= Xmims::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.min.js"></script>

    <link rel="stylesheet" href="<%= Xmims::Application.config.staticfile_server_url %>jquery/south-street/jquery-ui-1.8.18.custom.css" type="text/css"/>
    <link rel="stylesheet" href="<%= Xmims::Application.config.staticfile_server_url %>style/style.css" type="text/css"/>
    <link rel="stylesheet" href="<%= Xmims::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.css" type="text/css"/>
    <link rel="stylesheet" href="<%= Xmims::Application.config.staticfile_server_url %>jquery/fullcalendar/fullcalendar.print.css" type="text/css" media='print'/>
    <link rel="stylesheet" href="<%= Xmims::Application.config.staticfile_server_url %>jquery/fullcalendar/cupertino/theme.css" type="text/css" media='print'/>
    <%= csrf_meta_tags %>
  </head>
<body>
    <div class="page">
      <div class="header">
        <a href="<%= root_url%>" id="logo"><img src="<%= Xmims::Application.config.staticfile_server_url %>images/logo.png" alt="小马过河网络部系统"/></a>
        <ul>
          <li class="selected"><a href="<%= root_url%>">首页</a></li>
          <li><a href="<%= '/daily/index'%>">日报</a></li>
          <li><a href="<%= root_url%>">周报</a></li>
          <li><a href="<%= user_index_google_analytics_path%>">编辑</a></li>
          <li><a href="<%= bbs_admin_index_path%>">论坛</a></li>
          <li>
            <% if user_signed_in? %>
                <%= link_to '流量', clicks_path%>
            <% end %>
          </li>
          <li>
              <% if user_signed_in? %>
                <div style="display:inline;">您好,</div>
                <div style="display:inline;color:red;"><%= current_user.username %></div>
                <%= link_to "退出", destroy_user_session_path, :method => :delete %>
              <% else %>
                <%= link_to "登录", new_user_session_path, :method => :get %> |
                <%= link_to "注册", "/users/sign_up", :method => :get %>
              <% end %>
          </li>
        </ul>
      </div>
      <div class="body">
          <%= yield %>
      </div>
      <div class="footer">
        <p>&#169; Copyright &#169; 2012. xiaoma all rights reserved.</p>
        <div class="connect">
          <a href="http://www.xiaoma.com" target="_blank" alt="小马过河国际教育官网"><img src="<%= Xmims::Application.config.staticfile_server_url %>images/logo_xiaoma.png"/></a>
          <a href="http://dept.vip.xiaoma.com/" id="vimeo">vimeo</a>
        </div>
      </div>
    </div>
  </body>
</html>  
